{erl_opts, [debug_info]}.
{deps, [cowboy, jsx, {hashids, ".*",  {git, "git://github.com/snaiper80/hashids-erlang.git",  {tag, "1.0.5"}}}]}.

{relx, [
    {release, {'onecart-alpha', "0.1.0"},
        [onecart]},
    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true},
    {sys_config, "config/sys.config"}
]}.