<div class="login ui text container">
  <h1 class="ui header">OneCart</h1>
  <div class="ui divider"></div>
  <div class="ui two column centered grid">
    <div class="column">
      <div class="ui form">
        <div class="field">
          <label>AppID</label>
          {{input type="text" autocomplete="off" value=model.appid}}
        </div>
        <div class="field">
          <label>Password</label>
          {{input type="password" autocomplete="off" value=model.password}}
        </div>

        <div class="ui buttons">
          {{#link-to "register" class="ui basic primary button"}}Register{{/link-to}}
          <button id="btn-login" class="ui teal button" {{action "login" model}}>Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
